* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content {
    width: 75%;
    margin: auto;
}
#townNames {
    height: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aqua;
}